# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/

# Cache
.cache/

# Pytest
.pytest_cache/

snippets.txt